PORT=3000
SHEET_ID=
SHEET_NAME=Planilha1
# Use esse campo para autenticação no Google Sheets
# Exemplo de valor: um JSON completo da conta de serviço
# GOOGLE_CREDENTIALS_JSON={"type":"service_account",...}
